
body {
    margin: auto;             /* Centrera sidan */
    width: 860px;
    font-family: sans-serif;
    font-size: 100%;
}
section, header, footer {
    outline: 1px solid red;
}

header {
    text-align: center;
    margin-top: 5px;
}

.startpage h1 {
    font-size: 500%;           /* Massiv rubrik */
}

.tagline {
    font-size: 120%;
    padding: 0.5em;   /* Avstånd till kantlinje */
    border-top: 3px double #00AF64;
    border-bottom: 3px double #00af64;
    margin: 1em 0;
}

.menu > h2 {
    margin: 0 0 1em;
    padding: 2em 0;
    background-color: #f5f5f5;   /* mycket ljus grå*/
    text-align: center;
}
footer {
    margin-top: 3em;
    text-align: center;
    color: #999;
}
.subpage .logo {
    width: 146px;
    height: 123px;
}
.subpage h1 {
    font-size: 2.6rem;
}
h1 > span {
    color: #a62f00;
}